<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
    <p>
    Splurty was built by <a target="_blank" href="https://github.com/Edwin-F">Edwin</a>, a rising web developer. Splurty was built as a database-powered quotes generator application with a slick, mobile first design. Built with Ruby on Rails, HTML, CSS3 and GitHub and Heroku.
    </p>
    <p>
    This application is all about the annoting the experience of living in Chicago, IL (good or bad). Go ahead, add a short unique experience about being in Chicago!
    </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-xs-offset-1" style="padding-top:30px;">
      <%= image_tag 'me.jpg', class: 'img-responsive' %>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-1">
      <h2 class="text-center">Edwin</h2>
      <br />
      <p>
        Edwin is a web developer. He likes to learn new technologies, solve busines tech problems, and code. 
      </p>
    </div>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />