<div class="top-margin animated fadeInUp">
  <h2>
    <span>SPLURTY / No. <%= @quote.id %></span>
    You know you are having a <u>Chicago Moment</u> when...
  </h2>
  <h1><%= @quote.saying %></h1>
  <h2><%= @quote.author %></h2>
</div>